<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nusantara - Explore Indonesian Restaurant</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@700;900&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet" />
  </head>
  <body>
    <a href="#main" class="btn-skiptocontent">Skip to Content <i class="ri-arrow-right-down-line"></i></a>
    <header>
      <nav class="navbar">
        <a class="navbar__brand" href="/">
          <img src="/images/logo-nusantara.svg" alt="Logo Nusantara" />
        </a>
        <button class="btn-toggle"><i class="ri-menu-line"></i></button>
        <ul class="navbar__list">
          <li class="navbar__item active"><a href="/">Home</a></li>
          <li class="navbar__item"><a href="#">Favorite</a></li>
          <li class="navbar__item"><a href="https://www.agreytosira.my.id/" target="_blank" rel="noopener noreferrer">About Us</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero">
        <div class="hero__content">
          <h1>Jelajahi Berbagai Macam Restoran di Indonesia</h1>
          <p>Jelajahi beragam restoran dari seluruh indonesia bersama <strong>Nusantara</strong>. Temukan Kelezatan dari Sabang sampai Merauke!</p>
          <a href="#main" class="btn-primary">Lihat Katalog Restoran <i class="ri-arrow-right-up-line"></i></a>
        </div>
      </section>
      <section class="restaurant" id="main">
        <div class="restaurant__header">
          <h2>Jelajahi Restoran</h2>
          <p>Jelajahi berbagai restoran terbaik di Indonesia</p>
        </div>
        <div class="restaurant__content"></div>
      </section>
    </main>
    <footer class="footer">
      <ul class="footer-social">
        <li>
          <a href="https://github.com/agreytosira" target="_blank" rel="noopener noreferrer"><i class="ri-github-fill"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/agtsra" target="_blank" rel="noopener noreferrer"><i class="ri-instagram-line"></i></a>
        </li>
        <li>
          <a href="https://web.facebook.com/darknessdreamz" target="_blank" rel="noopener noreferrer"><i class="ri-facebook-box-fill"></i></a>
        </li>
      </ul>
      <p>Copyright © 2023 - Nusantara</p>
      <p>Developed by <strong>Agrey Tosira</strong> for Dicoding Submission</p>
    </footer>
  </body>
</html>
